<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Каталог сантехники</title>
</head>
<body>
{% extends "evroclassik/base.html" %}

{% block content %}
    <div class="container">
        <div class="album py-5 bg-light">
            <div class="container">
              <div class="row">
                  {% for plumb in plumbings %}
                <div class="col-md-4">
                  <div class="card mb-4 shadow-sm">
                      <img src="/media/{{ plumb.image }}" alt="..." class="img-thumbnail">
    <!--            <svg class="bd-placeholder-img card-img-top" width="100%" height="300" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text></svg>-->
                    <div class="card-body">
                      <h3>{{ plumb.name_plumbing|linebreaks }}</h3>
                      <p class="card-text">{{ plumb.text|linebreaks }}</p>
                      <h4>{{ plumb.price }} руб.</h4>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                        </div>
                        <small class="text-muted">{{ plumb.date_added|date:'M d, Y H:i' }}</small>
                      </div>
                    </div>
                  </div>
                </div>
                {% endfor %}
             </div>
            </div>
        </div>
    </div>
{% endblock content %}
</body>
</html>